.bg-footer{
    background: #272262;
    padding:  30px 10px;
}
.email {
padding: 10px 50px;
}
.nav{
    gap: 10px;
    color: #fff;
  }
 
  .nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; /* Added gap for spacing */
  }
  
  .nav-item {
    margin: 0 15px;
    position: relative;
    color: #fff;
    text-decoration: none;
  }
  
  .nav-item:hover {
    color: black;
  }
  
  .nav-item:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background-color: black;
  }